{% macro textGroup(size, align, type, subheading, heading, paragraph, static, hero, date) %}

{% if size == 'xlarge' %}
  {% set subheadingSize = 'text-24' %}
  {% set headingSize = 'md:text-48' %}
  {% set headingSizeMobile = 'text-48' %}
  {% set headingWeight = 'font-normal' %}
  {% set paragraphSize = 'md:text-20' %}
  {% set paragraphSizeMobile = 'text-20' %}
{% elseif size == 'large' %}
  {% set subheadingSize = 'text-18' %}
  {% set headingSize = 'md:text-36' %}
  {% set headingSizeMobile = 'text-28' %}
  {% set headingWeight = 'font-normal' %}
  {% set paragraphSize = 'md:text-18' %}
  {% set paragraphSizeMobile = 'text-18' %}
{% elseif size == 'medium' %}
  {% set subheadingSize = 'text-14' %}
  {% set headingSize = 'md:text-24' %}
  {% set headingSizeMobile = 'text-28' %}
  {% set headingWeight = 'font-normal' %}
  {% set paragraphSize = 'md:text-16' %}
  {% set paragraphSizeMobile = 'text-18' %}
{% elseif size == 'small' and static == true %}
  {% set subheadingSize = 'text-12' %}
  {% set headingSize = 'text-20' %}
  {% set headingWeight = 'font-normal' %}
  {% set paragraphSize = 'text-14' %}
{% elseif size == 'small' %}
  {% set subheadingSize = 'text-12' %}
  {% set headingSize = 'md:text-20' %}
  {% set headingSizeMobile = 'text-28' %}
  {% set headingWeight = 'font-normal' %}
  {% set paragraphSize = 'md:text-14' %}
  {% set paragraphSizeMobile = 'text-18' %}
{% elseif size == 'xsmall' %}
  {% set subheadingSize = 'text-12' %}
  {% set headingSize = 'md:text-18' %}
  {% set headingSizeMobile = 'text-24' %}
  {% set headingWeight = 'font-bold' %}
  {% set paragraphSize = 'md:text-12' %}
  {% set paragraphSizeMobile = 'text-12' %}
{% endif %}

{% if align == 'center' %}
  {% set textAlign = 'text-center' %}
{% else %}
  {% set textAlign = 'text-left' %}
{% endif %}

{% if type == 'light' %}
  {% set subheadingColor = 'text-canary' %}
  {% set headingColor = 'text-white' %}
  {% set paragraphColor = 'text-indigo-200' %}
{% else %}
  {% set subheadingColor = 'text-azure' %}
  {% set headingColor = 'text-indigo' %}
  {% set paragraphColor = 'text-indigo-800' %}
{% endif %}

{% if hero %}
  {% if date %}
    {% set subheadingTag = 'div' %}
  {% else %}
    {% set subheadingTag = 'h1' %}
  {% endif %}
{% elseif heading %}
  {% set subheadingTag = 'div' %}
{% else %}
  {% set subheadingTag = 'h2' %}
{% endif %}

{% if date %}
  {% set headingTag = 'h1' %}
{% else %}
  {% set headingTag = 'h2' %}
{% endif %}

<component is="text-group" class="text-group text-group--animated">
  {% if subheading %}
    <{{ subheadingTag }} class="text-group__subheading font-extended font-bold {{ subheadingSize }} leading-130 tracking-8 {{ textAlign }} {{ subheadingColor }} uppercase">{{ subheading }}</{{ subheadingTag }}>
  {% endif %}
  {% if heading %}
    <{{ headingTag }} class="text-group__heading font-extended {{ headingWeight }} {{ headingSizeMobile }} {{ headingSize }} leading-110 -tracking-3 {{ textAlign }} {{ headingColor }} mt-2">{{ heading }}</{{ headingTag }}>
  {% endif %}
  {% if paragraph %}
    <p class="text-group__p font-body font-normal {{ paragraphSizeMobile }} {{ paragraphSize }} leading-130 {{ textAlign }} {{ paragraphColor }} mt-2">{{ paragraph }}</p>
  {% endif %}
</component>
{% endmacro %}

{% macro button(size, type, arrow, transparentBg, url, title, reverse) %}

{% if size == 'xlarge' %}
  {% set textSize = 'text-18' %}
  {% set paddingY = 'py-1.5' %}
  {% set paddingX = 'px-4' %}
  {% set arrowWidth = 'w-3' %}
  {% set arrowHeight = 'h-3' %}
  {% set space = 'space-x-2' %}
{% elseif size == 'large' %}
  {% set textSize = 'text-14' %}
  {% set paddingY = 'py-1.5' %}
  {% set paddingX = 'px-4' %}
  {% set arrowWidth = 'w-3' %}
  {% set arrowHeight = 'h-3' %}
  {% set space = 'space-x-2' %}
{% elseif size == 'medium' %}
  {% set textSize = 'text-12' %}
  {% set paddingY = 'py-1' %}
  {% set paddingX = 'px-3.5' %}
  {% set arrowWidth = 'w-2' %}
  {% set arrowHeight = 'h-2' %}
  {% set space = 'space-x-1.5' %}
{% elseif size == 'small' %}
  {% set textSize = 'text-10' %}
  {% set paddingY = 'py-1' %}
  {% set paddingX = 'px-3' %}
  {% set arrowWidth = 'w-1.5' %}
  {% set arrowHeight = 'h-1.5' %}
  {% set space = 'space-x-1.5' %}
{% endif %}

{% if type == 'dark' %}
  {% set textColor = 'text-white' %}
  {% set backgroundColor = 'bg-indigo/20' %}
  {% set borderColor = 'border-indigo-800' %}
  {% set hoverBorderColor = 'hover:border-indigo-800' %}
  {% set borderBackground = 'bg-white' %}
  {% set arrowColor = 'fill-canary' %}
{% else %}
  {% set textColor = 'text-indigo' %}
  {% set backgroundColor = 'bg-indigo-100' %}
  {% set borderColor = 'border-indigo-300' %}
  {% set hoverBorderColor = 'hover:border-indigo-500' %}
  {% set hoverBackgroundColor = 'hover:bg-indigo-200' %}
  {% set focusBackgroundColor = 'focus:bg-indigo-200' %}
  {% set borderBackground = 'bg-indigo' %}
  {% set arrowColor = 'fill-azure' %}
{% endif %}

{% if transparentBg %}
  {% set borderColor = 'border-transparent' %}
{% endif  %}

<a class="btn group inline-flex flex-row items-center {{ space }} rounded border border-solid {{ borderColor }} {{ hoverBorderColor }} font-body font-normal {{ textSize }} leading-130 !no-underline {{ textColor }} {% if not transparentBg %}{{ backgroundColor }} {{ hoverBackgroundColor }} {{ focusBackgroundColor }}{% endif %} focus:outline focus:outline-2 focus:outline-canary outline-offset-[-1px] {{ paddingY }} {{ paddingX }} transition-all duration-200 ease-in-out" href="{{ url }}">
  {% if arrow and not reverse %}
    <svg class="btn__arrow {{ arrowWidth }} {{ arrowHeight }} {{ arrowColor }}" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12" xml:space="preserve">
      <path d="M10 1H.7V0H12v11.7h-1V1.4L.7 12l-.7-.7L10 1z" style="fill-rule:evenodd; clip-rule:evenodd;"/>
    </svg>
  {% endif %}
  <span class="btn__text">
    {{ title }}
    <div class="btn__border block {{ borderBackground }} h-px w-0 group-hover:w-full transition-all duration-200 ease-in-out"></div>
  </span>
  {% if arrow and reverse %}
    <svg class="btn__arrow {{ arrowWidth }} {{ arrowHeight }} {{ arrowColor }}" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12" xml:space="preserve">
      <path d="M10 1H.7V0H12v11.7h-1V1.4L.7 12l-.7-.7L10 1z" style="fill-rule:evenodd; clip-rule:evenodd;"/>
    </svg>
  {% endif %}
</a>
{% endmacro %}

{% macro arrowButton(size, type, reverse) %}

<button
  {% if reverse %}
    @click="carousel.changeSlide('next')"
  {% else %}
    @click="carousel.changeSlide('prev')"
  {% endif %}
  class="arrow-btn inline-flex items-center justify-center w-12 h-12 bg-indigo-100 hover:bg-indigo-200 focus:bg-indigo-200 rounded border border-solid border-indigo-300 transition-all duration-200 ease-in-out"
>
  <span class="sr-only">{% if reverse %}Next{% else %}Previous{% endif %}</span>
  <svg class="arrow-btn__arrow w-5 h-5 {% if reverse %}rotate-180{% endif %}" viewBox="0 0 26.9 26.5" style="enable-background:new 0 0 26.9 26.5">
    <path d="M26.9 12.7h-25L14 .7l-.8-.7L0 13.2l13.2 13.3.8-.7L1.9 13.7h25z" />
  </svg>
</button>
{% endmacro %}

{% macro picture(class, srcset, src, sizeDesktop, sizeMobile, alt, in_component_library) %}
  {% if in_component_library %}
    <picture>
      <source media="(min-width:768px)" srcset="{{ srcset }}">
      <img
        class="{{ class }}"
        src="{{ src }}"
        alt="{{ alt }}"
      />
    </picture>
  {% else %}
    <picture>
      <source media="(min-width:768px)" srcset="{{ sizeDesktop }}">
      <img
        class="{{ class }}"
        src="{{ sizeMobile }}"
        alt="{{ alt }}"
      />
    </picture>
  {% endif %}
{% endmacro %}